<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>All News</title>

  <!-- jQuery library link -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Google Fonts family -->

  <!-- CSS sheet -->
  <link rel="stylesheet" type="text/css" href="assets/style/style.css">

  <!-- Materialize library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- JavaScript for Materialize-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

</head>

<body>
 
  <!-- TOP OF THE PAGE -->
  <div class="container">
    <div class = "row" id = "topHeading">
      <div class = "col m12">
        <img src = "https://images.emedicinehealth.com/images/slideshow/multiple-sclerosis-s1-brain-spinal-cord-nerves.jpg" alt = "MS" width="100%">
      </div>
    </div>

    <div class="row">
      <div class="col m11">
        <h1 id="headline">MS News</h1>
      </div>
      <div class="col m1">
        <button id = "push">push me</button>
      </div>
    </div><hr>
    
    {{{ body }}}

    <footer> copyright 2018 S. Young</footer>
  

</body>

<style>
  footer {
    background: #d8601a;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    }

    h1 { 
      color: #d8671a;
    }

  #topHeading {
    margin-top: 15px;
  }  


</style>
</html>